

.corner-cut-btn::before{
  content: '';
  position: absolute;
  width: 2rem;
  height: 80%;
  top: 10%;
  left: -15px;
  border: 2px solid #b4444a;
  background-color: #aa4045;
  transition: 0.2s;
}
.corner-cut-btn::after{
  content: '';
  position: absolute;
  width: 2rem;
  height: 80%;
  top: 10%;
  right: -15px;
  border: 2px solid #b4444a;
  background-color: #aa4045;
  transition: 0.2s;
}
.corner-cut-btn:hover::after{
  right: -20px;
}
.corner-cut-btn:hover::before{
  left: -20px;
}

/* loading-spinner ----------------------------------------------------------------- */


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* scroller-bar-------------------------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color:  #4B5563; 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59, 58, 58);
  border-radius: 10px;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
  cursor: pointer;
}


/********** Range Input Styles **************************************************************************/
/*Range Reset*/


/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 1rem;  
  border: 1px solid rgb(39, 39, 96);
  box-shadow: 1px 1px 3px 1px rgba(56, 56, 56, 0.534) inset;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;

  /*custom styles*/
  background-color: #38527e;
  border-radius: 50%;
  margin-top: -1px;
  height: 1rem;
  width: 1rem;
  transition: 0.2s;
}

input[type="range"]:hover::-webkit-slider-thumb {   
 border: 1px solid #053a5f;
 outline-offset: 0.125rem; 
}

input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 15rem;
}


@media  (max-width: 400px) {
  input[type="range"]{
    width: 10rem;
  }
}



